body{
    background-color: #F2E9E4;
}
td {
    border: 3px solid black;
    padding: 10px;
    border-collapse: separate;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    empty-cells: show;
}
table{
    margin: auto;
}
button{
    display: block;
    margin: 0 auto;
    height: 2cm;
    width: 4cm;
    background-color: brown;
 }
