body{
    background-color: #222;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    margin-left: 40px;
    margin-top: 70px;
    padding: 70px 100px;
    outline: none;
    background: transparent;
    border: 2px solid #F2E9E4;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;

}
h2{
    margin-top: 50px;
    margin-left: 125px;
    color: antiquewhite;
    font-style: unset;
}
.btn:hover{
    border-radius: 25%;
}
.b1:hover{
    border-color: coral;
}
.b2:hover{
    border-color: lawngreen;
}